<style>

.box5{
    display: block;
    margin: 0px;
    background: #36BB90;
}

.box6{
    display: block;
    background: #E7A820;
    margin: 0px;
}


</style>

<div id="fullpage">
    <div class="section active" id="section0">
      <div class="scrollable-element">
          <br>
          <br>

          <div class="box5">
            Video here
					</div>

          <div class="box6">
            <h2 >Who are we?</h2>
            <p> Groop is a social media platform designed to increase your in-person interactions. </p>
            <p> Be Social. Meet new friends. Create a groop! </p>
          </div>


          <div class="box7">
          </div>

    </div>
  </div>
</div>
