<style>

/*.box5{
    display: block;
    margin: 0px;
    background: #36BB90;
}

.box6{
    display: block;
    background: #E7A820;
    margin: 0px;
}*/

.intro p{
        color: #fff;
    }

#myVideo{
width: 103%;
top: -123px;
left: -5px;
position: relative;
}

#section0 {
  background: #fdc846;
}

#section1{
  background: red;
}

#section2{
  background: orange;
}


</style>

<script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage({
                menu: '#menu',
                anchors: ['firstPage', 'secondPage', '3rdPage'],
                sectionsColor: ['#000000', '#eeeeee', '#f0f0f0'],
                autoScrolling: false
            });
        });
</script>

<div id="fullpage">

    <div class="section " id="section0">
        <div class="intro">
          <video id="myVideo" loop muted data-autoplay>
            <source src="/FINALgroopvideo.mp4" type="video/mp4">
          </video>
        Who are we?

				<p> Groop is a social media platform designed to increase your in-person interactions. </p>
				<p> Be Social. Meet new friends. Create a groop! </p>
        </div>
    </div>

    <div class="section" id="section1">
      <div class="intro">
        <div>
          <i class="icon-user-follow text-primary"></i>
          <h4>Create an account</h4>
        </div>

        <div>
          <i class="fa fa-search-plus" aria-hidden="true"></i>
          <h4>Find old friends (or make new ones!) and invite them to your GROOP</h4>
        </div>

        <div>
          <i class="icon-event text-primary"></i>
          <h4> Create events, plan with friends, and broadcast your story!</h4S>
        </div>
      </div>
    </div>

    <div class="section" id="section2">
        <div class="intro">
            <h1>Just use </h1>
            <p>autoScrolling:false</p>
        </div>
    </div>
</div>
