<style>

/*.box5{
    display: block;
    margin: 0px;
    background: #36BB90;
}

.box6{
    display: block;
    background: #E7A820;
    margin: 0px;
}*/

.intro p{
        color: #fff;
    }

#myVideo{
  width: 103%;
  top: 40px;
  left: -5px;
  position: relative;
  padding-bottom: 73px;
}

#section0 {
  background: #f7c646;
}

#section1{
  font-size: 16px;
  background: #00C290;
}

#section2{
  font-size: 16px;
  background: url(~/app/assets/bg-pattern.png), linear-gradient(to left, #F5A700, #F60060);
  /*background-image: url(bg-pattern.png), linear-gradient(to left, #F5A700, #F60060);*/
}

#splash-txt{
  font-size: 4rem;
}

.fr{
  padding-bottom: 30px;
}

</style>

<script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage({
                menu: '#menu',
                anchors: ['firstPage', 'secondPage', '3rdPage'],
                // sectionsColor: ['#000000', '#eeeeee', '#f0f0f0'],
                autoScrolling: false
            });
        });
</script>

<div id="fullpage">

    <div class="section " id="section0">
        <div class="intro">
          <video id="myVideo" loop muted data-autoplay>
            <source src="/FINALgroopvideo.mp4" type="video/mp4">
          </video>
          <strong><h2 id="splash-txt">Who <br>Are We?</h2></strong>
        <br>
				<h3> Groop is a social media platform designed to increase your in-person interactions. </h3>
				<!-- <h4> Be Social. Meet new friends. Create a groop! </h4> -->
        </div>
    </div>

    <div class="section" id="section1">
      <div class="intro">
        <div>
          <i class="fa fa-search-plus fa-5x fr" aria-hidden="true"></i>
          <br>
          <h4>See friends' events and find new friends</h4>
          <br>
        </div>

        <div>
          <i class="fa fa-calendar fa-5x fr" aria-hidden="true"></i>
          <br>
          <h4>Create an event that your friends and family can join</h4>
          <br>
        </div>

        <div>
          <i class="fa fa-users fa-5x fr" aria-hidden="true"></i>
          <br>
          <h4>Meet up with your groop!</h4S>
          <br>
        </div>
      </div>
    </div>

    <div class="section" id="section2">
        <div class="intro">
            <h1>Just use </h1>
            <p>autoScrolling:false</p>
        </div>
    </div>
</div>
