<%= link_to "New Picture", new_event_photo_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>

   <tbody>
      <% @photos.each do |photo| %>

         <tr>
            <td><%= photo.name %></td>
            <td><%= button_to "Delete",  photo, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{photo.name}?" %></td>
            <td><%= image_tag photo.attachment_url %></td>
         </tr>

      <% end %>
   </tbody>

</table>
