<p>
  <strong>Image:</strong>
  <%= @photo.attachment %>
</p>

<p>
  <strong>Name:</strong>
  <%= @photo.name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @photo.event %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
