// Do not use *= require in Sass or your other stylesheets will not be able to access the Bootstrap mixins and variables.
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-fluid;
  margin: 0 auto;
}

body {
  // background: url(back.jpg) top center no-repeat;
  background-size: cover;
  // overflow: scroll;
  // overflow-y:hidden;
  background: url(bg-pattern.png), linear-gradient(to left, #eceeef, #ffffff);
}

.container{
  padding: 0px;
}

.container-fluid{
  padding: 0px;
}


/* Style for our header texts
* --------------------------------------- */
h1{
  font-size: 5em;
  font-family: arial,helvetica;
  color: #fff;
  margin:0;
  padding:0;
}


//Navigation Links
#header {
      position:fixed;
      height: 70px;
      display:block;
      width: 100%;
      background: #333;
      z-index:9;
      text-align: center;
      color: #f2f2f2;
      padding: 20px 0 0 0;
      top: 0px;
      background: rgba(34, 34, 34, 0.95);
  }

  .logo_img {
    height: 35px;
    object-fit: cover;
    padding-right: 100px;
  }

  .bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navbar-right {
    align-items: center;
    flex-direction: row;
    display: flex;
    list-style: none;
  }

.navbar-brand {
  font-size: inherit;
}

.nav-tabs .nav-item{
  font-size: 18px;
}

// Font Awesome Icons
.fa {
  padding-left: 8px;
  padding-right: 8px;
  color: white;
}

// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  text-align: center;
}
.form {
  @extend .col-md-6;
}

.form-centered {
  @extend .col-md-6;
  text-align: center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

.evt-form {
  color: white;
  font-size: 16px;
}

.evt-form .input{
  min-width: 238px;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  margin-top: 30px; // accommodate the navbar
}

section {
  @extend .row;
  margin-top: 20px;
}


// Event Show Page -- Scrollable Divs


	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		padding: 5px;
		overflow: scroll;
		overflow-y: hidden;
	}

  .scrollable-element{
     height: 600px;
     width: 100%;
     overflow-y: scroll;
     margin: 0 auto;
 }

 .box1{
     display: block;
    //  background:#7BAABE;
     margin: 20px;
     padding-top: 5px;
     padding-bottom: 20px;
		 border-radius: 0.5%;

 }

 .center-cropped {
  // max-width: 1450px;
  width: 100%;
  max-height: 500px;
  // background-position: center center;
  // background-repeat: no-repeat;
  object-fit: none;
  object-position: bottom;
  overflow: hidden;
  display: inline-block;
}

 .box2{
     display: block;
    //  background: #4BBFC3;
     background: #304E55;
     margin: 20px;
     padding: 20px;
		 border-radius: 3%;
     align-items: center;
     justify-content: center;
 }

 .box3{
     display: block;
     align-items: center;
    // logo yellow
    //  background: #E7A820;
    // logo green
     background: #36BB90;
     margin: 20px;
     padding: 20px;
		 border-radius: 3%;
 }

 .box3-1{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   overflow: scroll;
   overflow-x: hidden;
   overflow-y: hidden;
 }

 .box3-1 span {
   padding-left: 20px;
   padding-right: 20px;
 }

.avatar-img {
  max-height: 80px;
  border-radius: 50%;
  // margin: 10px;
}

// User show page

//for the tabs
.center-nav{
  width: 85%;
  display: inline-flex;
}

.box4{
  display: block;
  margin: 0px;
  padding-top: 0px;
  background: #304E55;
}

.evt-view{
  position: relative;
}

.evt-img{
  position: relative;
  z-index: 2;
}

.evt-img img{
  z-index: -1;
}

.evt-details{
  background: rgba(51, 51, 51, 0.57);
  z-index: 999;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding-bottom: 3px;
}

// For the event feed page
.evt-feed-join{
  width: 100%;
  background: #304E55;
}

// #no-margin{
//   margin-bottom: 0px;
// }

#evt-link{
  top: 6px;
  position: relative;
}

// For images in the event feed page #TODO - Remove
.evt-feed-img {
  height: 189px;
  background-color: red;
}

 // #TODO - Remove
.friend-evt-feed-img {
  height: 157px;
  background-color: red;
}

// Default style for row - #TODO - REMOVE
.color-row {
  background-color: yellow;
  height: 189px;
  width: 100%;
  margin-bottom: 10px;
}

main {
  @extend .container;
  background-color: #eee;
  padding: 0;
  width: 100%;
}
