// Do not use *= require in Sass or your other stylesheets will not be able to access the Bootstrap mixins and variables.
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-fluid;
  margin: 0 auto;
}

body {
  // background: url(back.jpg) top center no-repeat;
  background-size: cover;
  // overflow: scroll;
  // overflow-y:hidden;
background: url(bg-pattern.png), linear-gradient(to left, #eceeef, #ffffff);
}

/* Style for our header texts
* --------------------------------------- */
h1{
  font-size: 5em;
  font-family: arial,helvetica;
  color: #fff;
  margin:0;
  padding:0;
}


//Navigation Links
#header {
      position:fixed;
      height: 70px;
      display:block;
      width: 100%;
      background: #333;
      z-index:9;
      text-align: center;
      color: #f2f2f2;
      padding: 20px 0 0 0;
      top: 0px;
      background: rgba(34, 34, 34, 0.95);
  }

  .logo_img {
    height: 35px;
    object-fit: cover;
  }

  .bar {
    display: flex;
    flex-direction: row;
  }

  .navbar-right {
    align-items: center;
    flex-direction: row;
    display: flex;
    padding-left: 800px;
    list-style: none;
  }


// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

// Font Awesome Icons
.fa {
  padding-left: 8px;
  padding-right: 8px;
  color: white;
}

// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  text-align: center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  text-align: center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  margin-top: 30px; // accommodate the navbar
}

section {
  @extend .row;
  margin-top: 20px;
}


// Event Show Page -- Scrollable Divs


	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		padding: 5px;
		overflow: scroll;
		overflow-y: hidden;
	}

  .scrollable-element{
     height: 600px;
     width: 100%;
     overflow-y: scroll;
     margin: 0 auto;
 }

 .box1{
     display: block;
    //  background:#7BAABE;
     margin: 20px;
     padding-top: 5px;
     padding-bottom: 20px;
		 border-radius: 0.5%;

 }

 .center-cropped {
  width: 100%;
  max-height: 350px;
  // background-position: center center;
  // background-repeat: no-repeat;
  object-fit: none;
  object-position: bottom;
  overflow: hidden;
}

// .center-cropped img {
//   max-height: 100%;
//   min-width: 100%;
// }

 .box2{
     display: block;
    //  background: #4BBFC3;
     background: #304E55;
     margin: 20px;
     padding: 20px;
		 border-radius: 0.5%;
     align-items: center;
     justify-content: center;
 }

 .box3{
     display: block;
     align-items: center;
    // logo yellow
    //  background: #E7A820;
    // logo green
     background: #36BB90;
     margin: 20px;
     padding: 20px;
		 border-radius: 0.5%;
 }

 .box3-1{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   overflow: scroll;
   overflow-x: hidden;
   overflow-y: hidden;
 }

 .box3-1 span {
   padding-left: 20px;
   padding-right: 20px;
 }

.avatar-img {
  max-height: 80px;
  border-radius: 10%;
  // margin: 10px;
}

// For images in the event feed page #TODO - Remove
.evt-feed-img {
  height: 189px;
  background-color: red;
}

 // #TODO - Remove
.friend-evt-feed-img {
  height: 157px;
  background-color: red;
}

// Default style for row - #TODO - REMOVE
.color-row {
  background-color: yellow;
  height: 189px;
  width: 100%;
  margin-bottom: 10px;
}

main {
  @extend .container;
  background-color: #eee;
  padding: 0;
  width: 100%;
}

// For images in the event show page
// #evt-img {
//   max-height: 200px;
//   object-fit: contain;
// }

/*Footer can be included in the future*/
/*#footer{
  bottom: 0px;
}*/
