/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require font-awesome
 *= require_tree .
 *= require_self
 */


 /* Style for our header texts
 	* --------------------------------------- */
 	h1{
 		font-size: 5em;
 		font-family: arial,helvetica;
 		color: #fff;
 		margin:0;
 		padding:0;
 	}

 	/* Centered texts in each section
 	* --------------------------------------- */
 	.section{
 		text-align:center;
 		overflow: hidden;
 	}

 	#myVideo{
 		position: absolute;
 		right: 0;
 		bottom: 0;
 		top:0;
 		right:0;
 		width: 100%;
 		height: 100%;
 		background-size: 100% 100%;
  		background-color: black; /* in case the video doesn't fit the whole page*/
   		background-image: /* our video */;
   		background-position: center center;
   		background-size: contain;
    		object-fit: cover; /*cover video background */
    		z-index:3;
 	}



 	/* Layer with position absolute in order to have it over the video
 	* --------------------------------------- */
 	#section0 .layer{
 		position: absolute;
 		z-index: 4;
 		width: 100%;
 		left: 0;
 		top: 43%;

 		/*
 		* Preventing flicker on some browsers
 		* See http://stackoverflow.com/a/36671466/1081396  or issue #183
 		*/
 		-webkit-transform: translate3d(0,0,0);
 		-ms-transform: translate3d(0,0,0);
 		transform: translate3d(0,0,0);
 	}

 	/*solves problem with overflowing video in Mac with Chrome */
 	#section0{
 		overflow: hidden;
 	}


 	/* Bottom menu
 	* --------------------------------------- */
 	#infoMenu li a {
 		color: #fff;
 	}


 	/* Hiding video controls
 	* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
 	* --------------------------------------- */
 	video::-webkit-media-controls {
 	  display:none !important;
 	}
