// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-size: 5em;
  font-family: arial,helvetica;
  color: #fff;
  margin: 0;
  padding: 0;
}

.section {
  text-align:center;
}

#section1,
#section2,
#section3,
#section4 {
   background-size: cover;
}

#section1 {
  background-image: image-url("bg1.jpg");
}

#section2 {
  background-image: image-url("bg2.jpg");
}

#section3 {
  background-image: image-url("bg3.jpg");
}

#section4 {
  background-image: image-url("bg4.jpg");
}
