<nav>
	
	<% if current_user %>
    <a class="btn btn-lg btn-primary" href="/logout" role="button">Log Out</a> 
  <% else %>
    <a class="btn btn-lg btn-primary" href="/auth/facebook" role="button">Log In With Facebook</a> 
  <% end %>
  
</nav>