<%# add navigation links to this file %>
<% if current_user %>

  <%= link_to new_event_path do %>
    <li><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a></li>
  <% end %>

  <%= link_to user_path(current_user.id) do %>
    <li><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a></li>
  <% end %>

  <li><a class="btn btn-primary btn login" href="/logout" role="button">Log Out</a></li>

<% else %>
  <li><a class="btn btn-primary btn login" href="/auth/facebook" role="button">Log In With Facebook</a></li>
<% end %>
<%= link_to 'Help', static_pages_help_path, class: 'navbar-brand' %>
